body {
    background-color: #F3F1FF;
}

.navbar img {
    width: 40px;

}

.navbar-brand {
    margin-left: 285px;
}

main {
    max-width: 870px;
    border-radius: 10px;
}

ul {
    margin-right: 285px;
}

.player img {
    width: 56px;
}


.player-name {
    padding: 15px;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
}

h3 {
    color: #562EFF;
    font-size: 24px;
    font-family: poppins;
    margin-top: 25px;
    padding: 20px;

}

.blogs img {
    width: 177px;
    margin-bottom: 20px;
}

hr {

    margin-bottom: 25px;
    margin-top: 25px;
}

.blogs h4 {
    font-size: 20px;
    font-family: poppins;
}

.blogs p {

    font-size: 16px;
    font-family: poppins;
    font-weight: 300;
}

span {
    color: #562EFF;
}

.blog-align {
    margin-top: 15px;
    margin-left: 20px;
}

footer {
    max-width: 870px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 380px;
}

.card-text {
    color: #ED6B4F;
    font-family: poppins;
    font-weight: 300;
    font-size: 14px;
}

.card img {
    width: 224px;
    margin-top: 15px;
    margin-left: 18px;
}

.time {
    color: #ED6B4F;
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
}

/* this fa fa css is for font awsome icon */

.fa-star {
    font-size: 12px;
    margin-top: 4px;
}

.fa-star.filled {
    color: #FFC014;

}

.fa-star.empty {
    color: #AEAEAE;
}

.rating span {
    color: #A2A2A2;
    margin-left: 5px;
    margin-top: -3px;
}

.card {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
}

.clock {
    background-color: #FEE5DF;
    border-radius: 10px;
}

.fa-clock {
    color: #FF4A60;
}

/* Responsive for mobile device */

@media only screen and (max-width: 600px) {
    .navbar{
        margin-left: -10px;
    }
    .top-title {
        text-align: center;
    }

    .leaders {
        padding-left: 35%;

    }

    footer h3 {
        text-align: center;
    }

    footer {
        height: 1000px;
    }

    .card {
        width: 262px;
        margin-bottom: 20px;
        margin-left: 15%;
    }
}